<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="profile1" value="Fuhrpark_PDA" />
    <add key="profile2" value="MI-RC.51" />
    <add key="checkOnUndock" value="false" />
    <add key="checkOnResume" value="true" />
    <add key="checkConnectIP" value="false" />
    <add key="switchOnDisconnect" value="false" />
    <add key="switchTimeout" value="60"/>
    <add key="enableLogging" value="false" />
  </appSettings>
</configuration>