<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Profile1" value="Profile_1"/>
    <add key="Profile2" value="Profile_2"/>
    <add key="checkOnUndock" value="false"/>
    <add key="checkOnResume" value="true"/>
    <add key="checkConnectIP" value="false"/>
    <add key="switchOnDisconnect" value="true"/>
    <add key="switchTimeout" value="20"/>
    <add key="enableLogging" value="true"/>
  </appSettings>
</configuration>