<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="profile1" value="SUPPORT2" />
    <add key="profile2" value="Intermec" />
    <add key="checkOnUndock" value="false" />
    <add key="checkOnResume" value="true" />
    <add key="switchTimeout" value="60"/>
    <add key="enableLogging" value="true" />
  </appSettings>
</configuration>